@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --orange-background-color: hsl(31, 77%, 52%);
  --medium-blue-background-color: hsl(184, 100%, 22%);
  --dark-green-background-color: hsl(179, 100%, 13%);
  --header-button-background: hsl(0, 0%, 95%);
  --font-color: hsla(0, 0%, 100%, 0.75);
}

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--header-button-background);
  /* color: var(--font-color); */
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  /* transform: translateY(3%); */
  width: 305px; /* Slimmed down the width to match the image of the design */
}

/* BUTTON STYLES */
button {
  background-color: var(--header-button-background);
  color: var(--font-color);
  border: none;
  border-radius: 2rem;
  padding: 0.9rem 2rem;
  margin-top: 1rem;
}


/* ORANGE CONTAINER */
.sedan_container {
  background-color: var(--orange-background-color);
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 2.5rem;
}

div.sedan_container h1,
div.suv_container h1,
div.luxury_container h1 {
  color: var(--header-button-background);
  font-family: 'Big Shoulders Display', cursive;
  margin-top: 1.2rem;
  font-size: 2.2rem;
}

div.sedan_container p,
div.suv_container p,
div.luxury_container p {
  color: var(--font-color);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  line-height: 2;
  margin-top: 1.2rem;
}

/* MIDDLE CONTAINER */
.suv_container {
  background-color: var(--medium-blue-background-color);
  padding: 2.5rem;
}

div.sedan_container button {
  color: var(--orange-background-color);
  font-family: 'Lexend Deca', sans-serif;
}

div.suv_container button {
  color: var(--medium-blue-background-color);
  font-family: 'Lexend Deca', sans-serif;
}

/* DARK GREEN CONTAINER */
.luxury_container {
  background-color: var(--dark-green-background-color);
  padding: 2.5rem;
  padding-bottom: 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

div.luxury_container button {
  color: var(--dark-green-background-color);
  font-family: 'Lexend Deca', sans-serif;
}

/* MEDIA STYLING */

@media screen and (min-width: 1000px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 900px;
    max-width: 900px;
    /* transform: translateY(50%); */
    min-height: 1000px; 
  }
  .sedan_container {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .suv_container,
  .sedan_container,
  .luxury_container {
    height: 500px;
  }
  div.sedan_container button,
  div.suv_container button,
  div.luxury_container button {
    margin-top: 5rem;
  }
  div.sedan_container p,
  div.suv_container p,
  div.luxury_container p {
    width: 210px;
    margin-right: 2rem;
    line-height: 1.8;
    padding-top: 1rem;
  }
  div.sedan_container h1,
  div.suv_container h1,
  div.luxury_container h1 {
    padding-top: 1rem;
  }
  .luxury_container {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}